*.rej

build/
node_modules/
git-info.json
config/*.json
index.html
Thumbs.db
buildscripts/split-pages/vendor/
buildscripts/split-pages/*.html
buildscripts/split-pages/composer*
wirecard-cee/
*.pyc
scripts/test/
no-track/
