# Build and Misc
build/
git-info.json
config/*.json
index.html
Thumbs.db
buildscripts/split-pages/vendor/
buildscripts/split-pages/*.html
buildscripts/split-pages/composer*

# Whitelabeling repo
wirecard-cee/

# Test scripts/files
scripts/test/
no-track/

# Python
__pycache__/
*.pyc

# Node JS
node_modules/
package-lock.json
