language: php
php: 7.2
addons:
  apt:
    packages:
      - "python3-pip"
      - "tidy"
git:
  depth: false
env:
  global:
    - TRAVIS_ENVSET_FILE="/tmp/set-deploy-env-vars"
  matrix:
    - PARTNER=WD
before_script:
- sha1sum --version
- INIT_DIR=$(pwd)
- cd /home/travis/build/
- pecl channel-update pecl.php.net
- echo | pecl install channel://pecl.php.net/yaml-2.0.4
- git clone https://github.com/krakjoe/pthreads.git
- cd pthreads
- git checkout 4d1c2483ceb459ea4284db4eb06646d5715e7154
- phpize
- "./configure && make && make install"
- cd ..
- echo "extension=pthreads.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- cd ${INIT_DIR}
- find . -name "*.py" | xargs -l1 chmod +x
install:
- export PATH="node_modules/.bin:${PATH}"
- gem install bundler
- bundle install
- npm install
- npm install -g jsonlint
- pip3 install -r requirements.txt
script:
- bash buildscripts/build-wrapper.sh
# - echo "TRAVIS_ENVSET_FILE=${TRAVIS_ENVSET_FILE}"
- if [[ -f "${TRAVIS_ENVSET_FILE}" ]]; then export DEPLOY_${PARTNER}=TRUE; fi
- if [[ -f "${TRAVIS_ENVSET_FILE}_nova" ]]; then export DEPLOY_${PARTNER}_NOVA=TRUE; fi
before_deploy: 
  - pip install --user awscli
  - export AWS_ACCESS_KEY_ID=$S3ACCESSID
  - export AWS_SECRET_ACCESS_KEY=$S3ACCESSKEY
deploy:
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: wirecard-docs-internal
#   region: eu-central-1
#   local-dir: /tmp/build/WD/html
#   on:
#     branch: staging
#     condition: $DEPLOY_WD = TRUE
# - provider: script
#   script: ~/.local/bin/aws s3 sync /tmp/build/WD/html s3://wirecard-docs --region=eu-central-1 --delete      
#   on:
#     branch: master
#     condition: $DEPLOY_WD = TRUE
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: wirecard-docs-internal
#   region: eu-central-1
#   local-dir: /tmp/build/WD/html
#   upload-dir: $TRAVIS_BRANCH
#   on:
#     all_branches: true
#     condition: $DEPLOY_WD = TRUE

- provider: s3
  access_key_id: $S3ACCESSID
  secret_access_key: $S3ACCESSKEY
  bucket: n-bckt-internal
  region: eu-central-1
  local-dir: /tmp/build/WD/NOVA/html
  upload-dir: $TRAVIS_BRANCH
  on:
    all_branches: true
    condition: $DEPLOY_WD_NOVA = TRUE

# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: n-bckt-internal
#   region: eu-central-1
#   local-dir: /tmp/build/WD/NOVA/html
#   on:
#     branch: staging
#     condition: $DEPLOY_WD_NOVA = TRUE

# ACTIVATE START
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: n-bckt
#   region: eu-central-1
#   local-dir: /tmp/build/WD/NOVA/html
#   on:
#     branch: nova/restore/1
#     condition: $DEPLOY_WD_NOVA = TRUE
# ACTIVATE END

# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: p-bckt-internal
#   region: eu-central-1
#   local-dir: /tmp/build/PO/html
#   on:
#     branch: staging
#     condition: $DEPLOY_PO = TRUE
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: p-bckt
#   region: eu-central-1
#   local-dir: /tmp/build/PO/html
#   on:
#     branch: master
#     condition: $DEPLOY_PO = TRUE
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: p-bckt-internal
#   region: eu-central-1
#   local-dir: /tmp/build/PO/html
#   upload-dir: $TRAVIS_BRANCH
#   on:
#     all_branches: true
#     condition: $DEPLOY_PO = TRUE

# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: m-bckt-internal
#   region: eu-central-1
#   local-dir: /tmp/build/MS/html
#   on:
#     branch: staging
#     condition: $DEPLOY_MS = TRUE
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: m-bckt
#   region: eu-central-1
#   local-dir: /tmp/build/MS/html
#   on:
#     branch: master
#     condition: $DEPLOY_MS = TRUE
# - provider: s3
#   access_key_id: $S3ACCESSID
#   secret_access_key: $S3ACCESSKEY
#   bucket: m-bckt-internal
#   region: eu-central-1
#   local-dir: /tmp/build/MS/html
#   upload-dir: $TRAVIS_BRANCH
#   on:
#     all_branches: true
#     condition: $DEPLOY_MS = TRUE
